.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/deployment.xml
.idea/webServers.xml
.idea/misc.xml
.idea/modules.xml
.idea/situation-middleware.iml

.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/php.xml

.idea/libraries
build/*
node_modules


# Added by Homey CLI
/.homeybuild/